<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luotat.mapper.CrsMapper">
    <update id="update">
        update Course
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="openTime != null">
                open_time = #{openTime},
            </if>
            <if test="closeTime != null">
                close_time = #{closeTime},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.luotat.POJO.Crs">
        select id, name, open_time, close_time, create_time, class_id
        from Course
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and close_time between #{begin} and #{end}
            </if>
        </where>
        order by open_time DESC
    </select>
</mapper>